body {
   margin: 0;
   background: rgb(129, 129, 129);
}

canvas {
    margin-right: 78px;
    background: white;
    display: block;
}

.divRange {
   width: 100%;
}

#sizeLineWidth {
    width: 99%;
    height: 20px; 
}

#btnC{
    position: fixed;
    right: 0;
    top: 0;
    width: 6%;
}

#selectColor {
    position: fixed;
    right: 0;
    top: 30px;
    width: 6%;
}
